{
  "testSendPrivateMessage": false,
  "friendUserID": ${userID},
  "strangerUserID": ${userID},
  "botIsMemberGroupID": ${group},
  "botIsAdminGroupID": ${group},
  "botIsOwnerGroupID": ${group},
  "botIsMemberAndOtherIsMember": {
    "groupID": ${group},
    "userID": ${userID}
  },
  "botIsMemberAndOtherIsAdmin": {
    "groupID": ${group},
    "userID": ${userID}
  },
  "botIsMemberAndOtherIsOwner": {
    "groupID": ${group},
    "userID": ${userID}
  },
  "botIsAdminAndOtherIsMember": {
    "groupID": ${group},
    "userID": ${userID}
  },
  "botIsAdminAndOtherIsAdmin": {
    "groupID": ${group},
    "userID": ${userID}
  },
  "botIsAdminAndOtherIsOwner": {
    "groupID": ${group},
    "userID": ${userID}
  },
  "botIsOwnerAndOtherIsMember": {
    "groupID": ${group},
    "userID": ${userID}
  },
  "botIsOwnerAndOtherIsAdmin": {
    "groupID": ${group},
    "userID": ${userID}
  }
}